* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#app {
  margin: 10px;
}

main {
  display: flex;
  flex-direction: row;
}

h1 {
  /* text-align: center; */
  padding: 1rem;
}
h2 {
  padding: 0.5rem;
}

ul {
  list-style: none;
}

li {
  font-size: 1rem;
  margin: 5px;
  padding: 5px;
  border: 0.5px solid black;
}

li:hover {
  background: #eee;
}

li a {
  text-decoration: none;
  color: black;
  font-family: Arial, Helvetica, sans-serif;
}

.puppy {
  padding: 0.5rem;
}

.puppy img {
  width: 200px;
  height: 200px;
  object-fit: cover;
}

p {
  margin: 0.5rem;
}

form {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
